<h3>Login</h3>

<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="post">
            <label for="email">E-mail: </label>
            <input type="email" name="email" class="form-control">
            
            <label for="senha">Senha: </label>
            <input type="password" name="senha" class="form-control">

            <button type="submit" class="btn btn-success mt-3">Entrar</button>

            <p class="mt-2"><a href="/usuarios/registro">Clique aqui para criar uma nova conta</a></p>
        </form>
    </div>
</div>